<!-- written for docker coqui-ai index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h1 id="demoTitle">TTS Demo</h1>

    <label for="inputText">Input Text (Multiple Paragraphs):</label>
    <textarea id="inputText" placeholder="Type here..." rows="4" cols="50"></textarea>

    <label for="speaker_id">Speaker:</label>
    <select id="speaker_id"></select>
    
    <select id="language_id" name="language_id" method="GET" action="/">
                    <option value="en" selected="en">en</option>"    
                </select>

    <button onclick="synthesize()">Generate and Play</button>

    <div id="outputContainer"></div>

    <script>
      function populateDropdown(namesArray) {
        const dropdown = document.getElementById("speaker_id");

        // Clear existing options
        dropdown.innerHTML = "";

        // Add names from the array to the dropdown
        namesArray.forEach((name) => {
          const option = document.createElement("option");
          option.value = name;
          option.text = name;
          dropdown.add(option);
        });
      }

      // Example usage:
      const namesArray = [
        "Claribel Dervla",
        "Daisy Studious",
        "Gracie Wise",
        "Tammie Ema",
        "Alison Dietlinde",
        "Ana Florence",
        "Annmarie Nele",
        "Asya Anara",
        "Brenda Stern",
        "Gitta Nikolina",
        "Henriette Usha",
        "Sofia Hellen",
        "Tammy Grit",
        "Tanja Adelina",
        "Vjollca Johnnie",
        "Andrew Chipper",
        "Badr Odhiambo",
        "Dionisio Schuyler",
        "Royston Min",
        "Viktor Eka",
        "Abrahan Mack",
        "Adde Michal",
        "Baldur Sanjin",
        "Craig Gutsy",
        "Damien Black",
        "Gilberto Mathias",
        "Ilkin Urbano",
        "Kazuhiko Atallah",
        "Ludvig Milivoj",
        "Suad Qasim",
        "Torcull Diarmuid",
        "Viktor Menelaos",
        "Zacharie Aimilios",
        "Nova Hogarth",
        "Maja Ruoho",
        "Uta Obando",
        "Lidiya Szekeres",
        "Chandra MacFarland",
        "Szofi Granger",
        "Camilla Holmström",
        "Lilya Stainthorpe",
        "Zofija Kendrick",
        "Narelle Moon",
        "Barbora MacLean",
        "Alexandra Hisakawa",
        "Alma María",
        "Rosemary Okafor",
        "Ige Behringer",
        "Filip Traverse",
        "Damjan Chapman",
        "Wulf Carlevaro",
        "Aaron Dreschner",
        "Kumar Dahl",
        "Eugenio Mataracı",
        "Ferran Simen",
        "Xavier Hayasaka",
        "Luis Moray",
        "Marcos Rudaski",
      ];
      populateDropdown(namesArray);

      

      function synthesize() {

        console.log("synthesizing");
        const downloadedIndices = [];
        
        const inputText = document.getElementById("inputText").value;
        const paragraphs = inputText.split(/\n\s*\n/).map((paragraph) => paragraph.trim());
        const speakerId = encodeURIComponent(document.getElementById("speaker_id").value);
        const languageId = encodeURIComponent(document.getElementById("language_id").value);
        const outputContainer = document.getElementById("outputContainer");
        const serverAddress = window.location.origin; // Get the current server's address
        //outputContainer.innerHTML = ""; // Clear previous output

        // Play audio files sequentially
        function playSequentially(index) {
          if (index < paragraphs.length) {
            // Check if the audio for this index has been downloaded
            if (downloadedIndices.includes(index)) {
              // If already downloaded, play next without fetching again
              playSequentially(index + 1);
              return;
            }

            // Mark this index as downloaded
            downloadedIndices.push(index);
            
            const text = encodeURIComponent(paragraphs[index]);
            const audioElement = document.createElement("audio");
            audioElement.id = `audio_${index}`;
            audioElement.number = index;
            audioElement.controls = true;

            const paragraphElement = document.createElement("p");
            paragraphElement.appendChild(audioElement); // Append the audio element
            paragraphElement.appendChild(document.createTextNode(document.getElementById("speaker_id").value)); // Append the value of "speaker_id"

            // Append the paragraph element to the outputContainer
            outputContainer.appendChild(paragraphElement);
            //outputContainer.appendChild(document.createElement("p").appendChild(audioElement));
            

            // Increment index for the next iteration
            const nextIndex = index + 1;

            // Fetch next audio file in parallel
            fetchNextAudio(nextIndex);

            audioElement.addEventListener("play", function () {
              console.log("Playback started for paragraph", index + 1);
              // Play next file when the current one starts playing

              document.getElementById("demoTitle").innerHTML = paragraphs[audioElement.number];

              playSequentially(nextIndex);
            });

            audioElement.addEventListener("ended", function () {
              console.log("Playback ended for paragraph", index + 1);

              const audioToPlay = document.getElementById(`audio_${index + 1}`);
              if (audioToPlay) {
                audioToPlay.play();
              }
            });

            // Sending request to server languageId
            fetch(`${serverAddress}/api/tts?text=${text}&speaker_id=${speakerId}&language_id=${languageId}`)
              .then((response) => {
                if (!response.ok) {
                  throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.blob();
              })
              .then((blob) => {
                // Set source when file is loaded (autoplay disabled)
                audioElement.src = URL.createObjectURL(blob);
                //audioElement.play();
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          }
        }

        // Fetch audio for the next index in parallel
        function fetchNextAudio(nextIndex) {
          if (nextIndex < paragraphs.length) {
            const nextText = encodeURIComponent(paragraphs[nextIndex]);

            fetch(`${serverAddress}/api/tts?text=${nextText}&speaker_id=${speakerId}&language_id=${languageId}`)
              .then((response) => {
                if (!response.ok) {
                  throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.blob();
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          }
        }

        // Start playing sequentially from the first paragraph
        playSequentially(0);
      }
    </script>
  </body>
</html>
